<form action="/register" class="initial-form" method="POST">
  <img src="/images/Logo-dark.svg" alt="logo-wallet">
  <h2>¡Te damos la bienvenida!</h2>

  <% @inputs.each_with_index do |input, index| %>
    <div class="input-container">
      <label><%= input[:label] %>:</label>
      <input 
        type="<%= input[:type] %>" 
        name="<%= input[:name] %>" 
        placeholder="<%= input[:placeholder] %>" 
        <%= "required" if input[:required] %>
      >
    </div>
  <% end %>

  <button type="submit">Registrar</button>

  <span>¿Ya tienes una cuenta? <a href="/signup">Ingresa</a></span>
</form>


<div class="form-background"></div>

<style>
  form.initial-form {
    box-sizing: content-box;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    border-radius: 30px;
    width:350px;
    min-height:350px;
    z-index:10;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 40px auto;
  }

  form.initial-form h2 {
    margin-bottom: 20px;
  }

  form.initial-form div input {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 40px;
    padding: 0 10px;
    transition: border-color 0.2s;
  }

  form.initial-form div input:focus {
    border-color: var(--primary-color);
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    width: 100%;
    /* max-width:250px; */
  }

  .input-container label {
    font-size: 12px;
    padding-left: 7px;
  }

  form.initial-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: var(--bg-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  form.initial-form span {
    margin-top: 15px;
    font-size: 14px;
  }

  form.initial-form img {
    aspect-ratio: 130/44;
    margin-bottom: 20px;
    /* height:120px; */
    width: 120px;
  }

  .form-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background:rgb(15, 65, 42); */
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image:  linear-gradient(#1f8756 4.2px, transparent 4.2px), linear-gradient(90deg, #1f8756 4.2px, transparent 4.2px), linear-gradient(#1f8756 2.1px, transparent 2.1px), linear-gradient(90deg, #1f8756 2.1px, #e5e5f7 2.1px);
  background-size: 105px 105px, 105px 105px, 21px 21px, 21px 21px;
  background-position: -4.2px -4.2px, -4.2px -4.2px, -2.1px -2.1px, -2.1px -2.1px;
}
</style>